body .about {
       background-color: #e97770;
       color: #fff;
       text-align: center;
       margin: -8px;
       padding: 15px;
       
}
.abouticon{
       align-items: center;
       width: 25%;
       margin:auto;
}
.container {
       display: flex;
       flex-flow: row wrap;
       flex-wrap: wrap;
       justify-content: center;
}
.TechCard {
       box-shadow: 0 4px 8px 0 #2f333b;
       transition: 0.3s;
       width: 15%;
       background-color: #fff;
       color: #e97770;
       padding: 5px;
       border-radius: 50px;
       margin: 12px;
     }
     
.TechCard:hover {
       box-shadow: 0 8px 16px 0 #2f333b;
     }
.TechCard img{
       width: 200px;
       height: 200px;
       border-radius: 5px 5px 0 0;
}
.tech h2,h1{
       text-align: center;
       color: #2f333b;
}
.about p{
       font-size: 25px;
}