.BlogDetails {
       color:#594a4e;
       margin: -8px;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 2rem;
       background-color: #faeee7;
}
.DetailsContainer {
       display: flex;
       flex-flow: row wrap;
       flex-wrap: wrap;
       justify-content: center;
}
.PostImg{
       width: 700px;
       height: 500px;
       margin: auto;
}
.BlogD h2{
       text-align: center;
       font-size: 70px;
       margin-bottom: 10px;
       font-family: 'Lobster', cursive;
       text-decoration: underline;
}
.BlogD h4 {
       text-align: center;
       font-family: 'Pacifico', cursive;
       opacity: 80%;
}
.BlogD p {
       font-size: 25px;
       margin-top: 40px;
       font-weight: bold;
}
