
.NavBar ul{
       list-style-type: none;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       margin-right: 100px;
       
}
.NavBar li{
       transition: transform .2s;
       margin-left: 100px;

}
.NavBar a{
       text-decoration: none;
       color: white;
       font-size: 25px;
       padding-bottom: 10px;
       padding:10px;
}
.NavBar li:hover{
       transform: scale(1.3);
}
.aboutMe:active{
       color: #eee;
       background-color: #e97770 ;
}
.aboutMe[tabindex]:focus {
       color: #eee;
       background-color: #e97770 ;
       outline: none;
       border-radius: 5px;
   }
.blog:active{
       color: #594a4e;
       background-color: #faeee7 ;
}
.blog[tabindex]:focus {
       color: #594a4e;
       background-color: #faeee7 ;
       outline: none;
       border-radius: 5px;
   }
.resume:active{
       color: #004643;
       background-color: #abd1c6 ;
}
.resume[tabindex]:focus {
       color: #004643;
       background-color:#abd1c6 ;
       outline: none;
       border-radius: 5px;
   }
